#sidebar{
    border-right: 1px solid rgb(235, 235, 235);
  }

#company-name{
    text-shadow: 1px;
}

.nft-generals{
  border-radius: 5px;
  border: 1px solid rgb(192, 192, 192);
}

.nft-generals-title{
  font-weight: bold;
  font-size: 14px;
  color: rgb(192, 192, 192);
}

.nft-rarity-title{
  font-weight: bold;
  font-size: 24px;
  color: rgb(192, 192, 192);
}