body {
  background-color: black;
  color: white;
}

#sidebar{
    border-right: 1px solid rgb(55, 55, 55);
  }

#company-name{
    text-shadow: 1px;
}

.nft-generals{
  border-radius: 5px;
  border: 1px solid rgb(46, 46, 46);
}

.nft-generals-title{
  font-weight: bold;
  font-size: 14px;
  color: rgb(42, 42, 42);
}

.nft-rarity-title{
  font-weight: bold;
  font-size: 24px;
  color: rgb(43, 43, 43);
}